<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-0 col-sm-6 offset-sm-0 col-10 offset-2">
                <a class="logo-footer" href="#"><span>Авто</span>салон</a>
                <div class="footer-data footer-data-phone footer-data-phone-desctop d-none d-sm-block">
                    <p class="main-footer-data">+7 495 123 45 67</p>
                </div>
                <a href="tel:+74951234567" class="footer-data footer-data-phone footer-data-phone-mob d-block d-sm-none">
                    <p class="main-footer-data">+7 495 123 45 67</p>
                </a>
                <div class="footer-data footer-data-time">
                    <p class="main-footer-data">с 9:00 до 20:00</p>
                    <p class="secondary-footer-data">ежедневно</p>
                </div>
                <div class="footer-data footer-data-place">
                    <p class="main-footer-data">Братиславская</p>
                    <p class="secondary-footer-data">ул. Поречная 12, стр.1, 4 этаж</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 offset-md-0 offset-sm-1 d-none d-sm-block">
                <ul class="footer-nav-list">
                    <li><a href="#">Машины в наличии</a></li>
                    <li><a href="#">Кредит</a></li>
                    <li><a href="#">Выкуп</a></li>
                    <li><a href="#">Trade-in</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="col-md-4 offset-sm-0 col-10 offset-2">
                <div class="callback-btn"><span>Обратный звонок</span></div>
                <p class="warning">Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджерам автосалона.</p>
            </div>
        </div>
    </div>
</footer>
