<section class="cardProduct">
    <div class="container remove-padding">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-wrp">
                    <ul class="breadcrumb-custom">
                      <li class="breadcrumb-custom-item"><a class="breadcrumb-home" href="#">
                          <div class="home-logo-img"></div>
                      </a></li>
                      <li class="breadcrumb-custom-item"><a href="#">Машины в наличии</a></li>
                      <li class="breadcrumb-custom-item active" aria-current="page"><span>Ford Focus</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-reverse">
            <div class="col-sm-9 col-12">
                <h2 class="card-title">Ford Focus с пробегом</h2>
            </div>
            <div class="col-sm-3 col-12">
                <div class="label-stock"><span>В наличии</span></div>
            </div>
        </div>
        <div class="card-data-block">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="propose-card propose-card-main">
                                <div class="product-img-wrp propose-card-img-wrp">
                                    <div class="change-img-trigger change-img-trigger-1 active"></div>
                                    <img class="change-img" src="../../build/img/car1-big.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-2"></div>
                                    <img class="change-img" src="../../build/img/car2.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-3"></div>
                                    <img class="change-img" src="../../build/img/car3.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-4"></div>
                                    <img class="change-img" src="../../build/img/car4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="details-desctop d-none d-lg-block">
                        <div class="details-wrp">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <ul class="profit-list">
                                        <li><span>1 год гарантии</span></li>
                                        <li><span>Гарантия юридической чистоты</span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="phone-credit-department-wrp">
                                        <div class="phone-credit-department-img">
                                            <img class="phone-credit-department-icon" src="../../build/img/phone.svg" alt="">
                                        </div>
                                        <div class="phone-credit-department-flex-wrp">
                                            <p class="text-phone-credit-department"><span class="flex-wrp">Телефон кредитного отдела (бесплатно):</span></p>
                                            <p class="number-phone-credit-department">+7 495 123 45 67</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <a href="#" class="change-btn"><span>Обменять</span></a>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="callback-btn card-callback-btn"><span>Обратный звонок</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 flex-aligning">
                    <div class="tab-substrate-wrp">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-substrate">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="characteristics-tab" data-toggle="tab" href="#characteristics" role="tab" aria-controls="characteristics" aria-selected="true">Характеристики</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="equipment-tab" data-toggle="tab" href="#equipment" role="tab" aria-controls="equipment" aria-selected="false">Комплектация</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Описание</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="credit-tab" data-toggle="tab" href="#credit" role="tab" aria-controls="credit" aria-selected="false">Условия кредита</a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                      <div class="tab-pane fade show active mCustomScrollbar" id="characteristics" role="tabpanel" aria-labelledby="characteristics-tab">
                                          <table class="car__detail-table">
                                              <tbody><tr class="car__detail-item">
                                                <td class="car__detail-text">Поколение</td>
                                                <td class="car__detail-text">III Рестайлинг [2014 - н.в.]</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Год выпуска</td>
                                                <td class="car__detail-text">2016</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Пробег</td>
                                                <td class="car__detail-text">41590 км</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Тип кузова</td>
                                                <td class="car__detail-text">Седан</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Двигатель</td>
                                                <td class="car__detail-text">Бензиновый</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">КПП</td>
                                                <td class="car__detail-text">АКПП</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Цвет</td>
                                                <td class="car__detail-text">Бежевый                          металлик</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Привод</td>
                                                <td class="car__detail-text">Передний</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Объем / Мощность</td>
                                                <td class="car__detail-text">1.6 л. / 125 л.с.</td>
                                              </tr>
                                            </tbody></table>
                                      </div>
                                      <div class="tab-pane fade mCustomScrollbar" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
                                          <table class="car__detail-table">
                                              <tbody><tr class="car__detail-item">
                                                <td class="car__detail-text">Поколение</td>
                                                <td class="car__detail-text">III Рестайлинг [2014 - н.в.]</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Год выпуска</td>
                                                <td class="car__detail-text">2016</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Пробег</td>
                                                <td class="car__detail-text">41590 км</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Тип кузова</td>
                                                <td class="car__detail-text">Седан</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Двигатель</td>
                                                <td class="car__detail-text">Бензиновый</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">КПП</td>
                                                <td class="car__detail-text">АКПП</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Цвет</td>
                                                <td class="car__detail-text">Бежевый                          металлик</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Привод</td>
                                                <td class="car__detail-text">Передний</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Объем / Мощность</td>
                                                <td class="car__detail-text">1.6 л. / 125 л.с.</td>
                                              </tr>
                                            </tbody></table>
                                      </div>
                                      <div class="tab-pane fade mCustomScrollbar" id="description" role="tabpanel" aria-labelledby="description-tab">
                                          <table class="car__detail-table">
                                              <tbody><tr class="car__detail-item">
                                                <td class="car__detail-text">Поколение</td>
                                                <td class="car__detail-text">III Рестайлинг [2014 - н.в.]</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Год выпуска</td>
                                                <td class="car__detail-text">2016</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Пробег</td>
                                                <td class="car__detail-text">41590 км</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Тип кузова</td>
                                                <td class="car__detail-text">Седан</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Двигатель</td>
                                                <td class="car__detail-text">Бензиновый</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">КПП</td>
                                                <td class="car__detail-text">АКПП</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Цвет</td>
                                                <td class="car__detail-text">Бежевый                          металлик</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Привод</td>
                                                <td class="car__detail-text">Передний</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Объем / Мощность</td>
                                                <td class="car__detail-text">1.6 л. / 125 л.с.</td>
                                              </tr>
                                            </tbody></table>
                                      </div>
                                      <div class="tab-pane fade mCustomScrollbar" id="credit" role="tabpanel" aria-labelledby="credit-tab">
                                          <table class="car__detail-table">
                                              <tbody><tr class="car__detail-item">
                                                <td class="car__detail-text">Поколение</td>
                                                <td class="car__detail-text">III Рестайлинг [2014 - н.в.]</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Год выпуска</td>
                                                <td class="car__detail-text">2016</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Пробег</td>
                                                <td class="car__detail-text">41590 км</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Тип кузова</td>
                                                <td class="car__detail-text">Седан</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Двигатель</td>
                                                <td class="car__detail-text">Бензиновый</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">КПП</td>
                                                <td class="car__detail-text">АКПП</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Цвет</td>
                                                <td class="car__detail-text">Бежевый                          металлик</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Привод</td>
                                                <td class="car__detail-text">Передний</td>
                                              </tr>
                                              <tr class="car__detail-item">
                                                <td class="car__detail-text">Объем / Мощность</td>
                                                <td class="car__detail-text">1.6 л. / 125 л.с.</td>
                                              </tr>
                                            </tbody></table>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="credit-prices-wrp">
                        <div class="row">
                            <div class="col-12">
                                <div class="old-new-prices-wrp">
                                    <p class="old-price-card-data">Старая цена: <span>260 000 руб</span></p>
                                    <p class="new-price-card-data">235 000 руб</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-reverse">
                            <div class="col-sm-6 col-12">
                                <div class="contribution-info">
                                    <p>от <span>5 905 руб/мес</span> без</p>
                                    <p>первоначального взноса</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <a href="#" class="give-me-credit"><span>Заявка на кредит</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-mobile d-block d-lg-none">
                <div class="details-wrp">
                    <div class="row">
                        <div class="col-12">
                            <ul class="profit-list">
                                <li><span>1 год гарантии</span></li>
                                <li><span>Гарантия юридической чистоты</span></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="phone-credit-department-wrp">
                                <div class="phone-credit-department-img">
                                    <img class="phone-credit-department-icon" src="../../build/img/phone.svg" alt="">
                                </div>
                                <a href="tel:+74951234567" class="phone-credit-department-flex-wrp">
                                    <p class="text-phone-credit-department"><span class="flex-wrp">Телефон кредитного отдела:</span></p>
                                    <p class="number-phone-credit-department">+7 495 123 45 67</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="#" class="change-btn"><span>Обменять</span></a>
                    </div>
                    <div class="col-12">
                        <div class="callback-btn card-callback-btn"><span>Обратный звонок</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banks-section">
            <div class="row">
                <div class="col-8">
                    <h2>Банки партнеры</h2>
                </div>
                <div class="col-4">
                    <div class="slider-arrows-wrp">
                        <div id="banks-arrow-prev" class="arrow-slider arrow-prev"></div>
                        <div id="banks-arrow-next" class="arrow-slider arrow-next"></div>
                    </div>
                </div>
            </div>
            <div class="banks-slider-wrp">
                <div class="banks-slider">
                    <div>
                        <img src="../../build/img/bank2.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank17.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank4.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank8.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank5.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank6.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank3.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank7.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank10.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank9.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank15.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank11.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank12.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank13.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank14.jpg" alt="банк">
                    </div>

                    <div>
                        <img src="../../build/img/bank16.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank1.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank18.jpg" alt="банк">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="same-offers">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h2>Похожие предложения</h2>
                </div>
                <div class="col-4">
                    <div class="slider-arrows-wrp">
                        <div id="offers-arrow-prev" class="arrow-slider arrow-prev"></div>
                        <div id="offers-arrow-next" class="arrow-slider arrow-next"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrivals-slider-wrp">
            <div class="container arrivals-slider-container">
                <div class="offers-slider">
                    <div>
                        <div class="arrivals-card">
                            <div class="arrivals-card-img-wrp">
                                <img class="arrivals-img" src="../../build/img/car1.jpg" alt="">
                            </div>
                            <div class="arrivals-card-info">
                                <p class="arrivals-card-title">Chevrolet Captiva 2008</p>
                                <div class="arrivals-data">
                                    <p>Год выпуска: <span>2007</span></p>
                                    <p>Пробег: <span>111 000 км</span></p>
                                </div>
                                <p class="arrivals-card-price">369 000 руб</p>
                                <a href="#" class="arrivals-card-btn"><span>подробнее</span></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="arrivals-card">
                            <div class="arrivals-card-img-wrp">
                                <img class="arrivals-img" src="../../build/img/car1.jpg" alt="">
                            </div>
                            <div class="arrivals-card-info">
                                <p class="arrivals-card-title">Chevrolet Captiva 2008</p>
                                <div class="arrivals-data">
                                    <p>Год выпуска: <span>2007</span></p>
                                    <p>Пробег: <span>111 000 км</span></p>
                                </div>
                                <p class="arrivals-card-price">369 000 руб</p>
                                <a href="#" class="arrivals-card-btn"><span>подробнее</span></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="arrivals-card">
                            <div class="arrivals-card-img-wrp">
                                <img class="arrivals-img" src="../../build/img/car1.jpg" alt="">
                            </div>
                            <div class="arrivals-card-info">
                                <p class="arrivals-card-title">Captiva 2008</p>
                                <div class="arrivals-data">
                                    <p>Год выпуска: <span>2007</span></p>
                                    <p>Пробег: <span>111 000 км</span></p>
                                </div>
                                <p class="arrivals-card-price">369 000 руб</p>
                                <a href="#" class="arrivals-card-btn"><span>подробнее</span></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="arrivals-card">
                            <div class="arrivals-card-img-wrp">
                                <img class="arrivals-img" src="../../build/img/car1.jpg" alt="">
                            </div>
                            <div class="arrivals-card-info">
                                <p class="arrivals-card-title">Chevrolet Captiva 2008</p>
                                <div class="arrivals-data">
                                    <p>Год выпуска: <span>2007</span></p>
                                    <p>Пробег: <span>111 000 км</span></p>
                                </div>
                                <p class="arrivals-card-price">369 000 руб</p>
                                <a href="#" class="arrivals-card-btn"><span>подробнее</span></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="arrivals-card">
                            <div class="arrivals-card-img-wrp">
                                <img class="arrivals-img" src="../../build/img/car1.jpg" alt="">
                            </div>
                            <div class="arrivals-card-info">
                                <p class="arrivals-card-title">Chevrolet Captiva 2008</p>
                                <div class="arrivals-data">
                                    <p>Год выпуска: <span>2007</span></p>
                                    <p>Пробег: <span>111 000 км</span></p>
                                </div>
                                <p class="arrivals-card-price">369 000 руб</p>
                                <a href="#" class="arrivals-card-btn"><span>подробнее</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
