.pop-up-overlay-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // overflow-y: auto;
    z-index: 10;
    .overlay-pop-up {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        // background-color: $overlay;
        opacity: 0.702;
        z-index: 5;
    }
}
.pop-up-add-call, .pop-up-submit-app {
    display: none;
    position: absolute;
    top:  calc(50% - 260px);
    left: calc(50% - 190px);
    width: 380px;
    height: 535px;
    z-index: 6;
    background-color: #fff;
    padding: 60px 45px;
    border-radius: 6px;
}
