@media (max-width: 1199px) {
    h1 {
        font-size: 34px;
        line-height: 38px;
    }
    .header-data-place, .header-data-time {
        display: none;
    }
    .shadow, .slick-slide {
        box-shadow: none;
    }
}
@media (max-width: 991px) {
    .app {
        padding-bottom: 430px;
    }
    header {
        padding-top: 52px;
        padding-bottom: 0;
        .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
            max-width: 100%;
        }
        .logo-header {
            padding-left: 15px;
        }
        .navbar-nav {
            color: $textDark;
            font-family: 'MuseoSansCyrl-900';
            font-size: 24px;
            padding-top: 68px;
            .nav-item + .nav-item {
                margin-top: 20px;
            }
        }
    }
    .nav-item + .nav-item {
        margin-left: 0;
    }
    .header-data-phone-desctop {
        display: none;
    }
    .header-data-phone-mob {
        display: block;
        height: 22px;
    }
    .callback-btn-header {
        display: none;
    }
    .callback-btn-header-collapse {
        display: flex;
        margin: 0 auto;
        margin-top: 34px;
        margin-bottom: 80px;
    }
    .links-line-nav-wrp {
        text-align: center;
        background-color: #ffffff;
    }
    .links-line-nav {
        min-height: inherit;
    }
    .main-line-nav {
        top: 0;
        height: 52px;
        box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.12);
        border-bottom: none;
    }
    footer {
        height: inherit;
        padding-bottom: 30px;
    }
    // MAIN
    h1 {
        padding-top: 40px;
        margin-bottom: 19px;
    }
    .main-img {
        transform: translateY(-24px);
    }
    .filter-block {
        padding-right: 80px;
        margin-top: -55px;
    }
    .select2-container {
        width: 100% !important;
    }
    .selectize-control.single .selectize-input {
        width: 100%;
    }
    .polzunok-wrp {
        width: 100%;
    }
    .choose-auto-btn {
        margin: 0 auto;
        margin-top: 54px;
        width: 100%;
    }
    .filter-block-item {
        margin-top: 28px;
    }
    .marks h2 {
        margin-bottom: 0;
    }
    .letter-block {
        margin-top: 22px;
    }
    .form-car {
        left: -130px;
    }
    .propose-card {
        width: 255px;
        margin-bottom: 40px;
        .propose-card-img-wrp {
            min-height: 182px;
        }
        .propose-card-info {
            padding-left: 19px;
            height: 301px;
        }
        .bottom-part {
            flex-direction: column;
            bottom: 40px;
            align-items: flex-start;
            padding-left: 20px;
            .propose-card-price {
                margin-bottom: 18px;
            }
            .propose-card-btn {
                width: 215px;
            }
        }
    }
    .arrivals-card {
        margin-bottom: 40px;
    }
    // cars
    .propose-card.propose-card-main {
        height: 0;
        padding-bottom: 75%;
    }
    .propose-card.propose-card-main .propose-card-img-wrp {
        min-height: 100%;
        height: 100%;
        padding-bottom: 75%;
    }
    .propose-card.propose-card-main .propose-card-img-wrp .change-img  {
        max-height: 100%;
        height: 100%;
    }
    .propose-card-img-wrp.inStock-card-img-wrp {
        max-height: 100%;
        height: 100%;
        padding-bottom: 70%;
        .change-img {
            max-height: 100%;
        }
    }
    // card
    .card-data-block {
        .flex-aligning {
            flex-direction: column-reverse;
        }
    }
    .old-price-card-data, .new-price-card-data {
        text-align: left;
    }
    .propose-card.propose-card-main {
        margin-bottom: 24px;
    }
    .row-reverse {
        margin-bottom: 30px;
    }
    .details-mobile {
        .profit-list {
            li + li {
                margin-top: 10px;
            }
        }
        .phone-credit-department-wrp {
            margin-top: 20px;
        }
    }
    .details-wrp {
        margin-bottom: 20px;
    }
    .details-mobile .callback-btn.card-callback-btn {
        margin-top: 20px;
    }
    .tab-substrate-wrp {
        margin-bottom: 40px;
    }
    // inStock
    .select-inStock-wrp {
        margin-top: 15px;
    }
    .inStock-card-content {
        padding-right: 20px;
    }
    .inStock-card-content-inner-padding-left {
        padding-left: 20px;
    }
    .inStock-card-content .title-price {
        margin-bottom: 23px;
    }
    // credit
    .credit-card-content {
        padding-left: 20px;
    }
    .decor-profit-list-block.decor-profit-list-block-mobile {
        margin-top: 38px;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 34px;
        line-height: 1;
    }
    h2 {
        font-size: 24px;
        line-height: 1;
    }
    .app {
        padding-bottom: 553px;
    }
    footer {
        .callback-btn {
            margin-top: 42px;
        }
        .warning {
            margin-top: 29px;
        }
    }
    // MAIN
    .main-img {
        transform: translateY(0px);
        margin-top: 30px;
    }
    .filter-block {
        margin-top: -75px;
    }
    .form-block-wrp {
        margin-top: 190px;
    }
    .form-car {
        top: -180px;
        width: 70%;
        left: 15%;
    }
    h2.card-title {
        margin-bottom: 4px;
    }
    // inStock
    .inStock {
        padding-bottom: 60px;
    }
    .inStock-cards-wrp {
        padding-bottom: 30px;
    }
    .inStock-card-content {
        height: auto;
    }
    .message-warranty {
        margin-top: 17px;
        margin-bottom: 20px;
    }
    .inStock-card-content-inner-aligned {
        float: none;
        text-align: left;
    }
    .inStock-card-btn {
        width: 100%;
    }
}
@media (max-width: 575px) {
    .row-reverse {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }
    .old-new-prices-wrp {
        height: auto;
        margin-bottom: 20px;
    }
    .contribution-info {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .label-stock {
        margin-top: 6px;
        margin-bottom: 20px;
    }
    .tab-substrate-wrp {
        .col-12 {
            padding: 0;
        }
    }
    .new-price-card-data {
        font-size: 24px;
    }
    .details-mobile .change-btn, .details-mobile .callback-btn.card-callback-btn {
        width: 100%;
    }
    .banks-section {
        padding-top: 59px;
    }

}
@media (max-width: 498px) {
    .app {
        padding-bottom: 571px;
    }
}
@media (max-width: 479px) {
    .filter-block-wrp {
        padding-bottom: 60px;
    }
    .filter-block {
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 20px;
        padding-bottom: 46px;
    }
    .form-car {
        top: -150px;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .propose-slider-container, .arrivals-slider-container {
        padding-right: 0;
    }
    .slick-list {
        padding:0 20% 0 0;
     }
     .banks-slider {
         padding: 0 35px;
     }
    .banks-slider-wrp {
        .slick-list {
           padding: 0;
        }
        .slick-initialized .slick-slide {
            display: flex;
        }
    }


    .all-proposals-btn, .all-arrivals-btn {
        width: 100%;
    }
    // credit
    .credit {
        padding-bottom: 0;
        .banks-section {
            margin-bottom: 60px;
        }
    }
    .credit-form {
        padding: 29px 20px 47px;
    }
    .decor-profit-list-block.decor-profit-list-block-mobile {
        padding-left: 25px;
        padding-right: 25px;
        .decor-profit-list {
            li {
                padding: 18px 0;
                &::before {
                    width: 22px;
                    height: 22px;
                    margin-right: 16px;
                }
            }
        }
    }
}
@media (max-width: 422px) {
    .app {
        padding-bottom: 589px;
    }
    .slider-arrows-wrp {
        right: 15px;
    }
}
@media (max-width: 400px) {
    .app {
        padding-bottom: 607px;
    }
}
@media (max-width: 375px) {
    .app {
        padding-bottom: 625px;
    }
    .container {
        padding-right: 25px;
        padding-left: 25px;
    }
    .propose-slider-container, .arrivals-slider-container {
        padding-right: 0;
    }
    .tab-substrate-wrp .row {
        margin-right: -25px;
        margin-left: -25px;
    }
}
@media (max-width: 365px) {
    .app {
        padding-bottom: 607px;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .propose-slider-container, .arrivals-slider-container {
        padding-right: 0;
    }
    .tab-substrate-wrp .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .tab-substrate {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav-tabs .nav-item {
        width: 49%;
    }
    .nav-tabs .nav-item:nth-child(even) {
        margin-left: 2%;
    }
    .decor-profit-list-block.decor-profit-list-block-mobile {
        padding-left: 14px;
        padding-right: 14px;
    }
}
@media (max-width: 357px) {
    .app {
        padding-bottom: 625px;
    }
}
@media (max-width: 332px) {
    .app {
        padding-bottom: 643px;
    }
    .slick-list { padding:0 10% 0 0; }
    .tab-substrate {
        padding-left: 10px;
        padding-right: 10px;
    }
}
