<div class="form-block pop-up-form-block">
    <form action="#">
        <p class="form-block-title form-block-title-pop-up">У вас есть вопросы?</p>
        <div class="form-block-field">
            <p class="form-block-subtitle">Имя</p>
            <input type="text" name="name" class="form-block-input">
        </div>
        <div class="form-block-field">
            <p class="form-block-subtitle">Телефон</p>
            <input type="tel" name="phone" class="form-block-input" placeholder="+7">
        </div>
        <div class="form-block-field">
            <p class="form-block-subtitle">Комментарий</p>
            <textarea class="credit-form-textarea pop-up-textarea" name="name"></textarea>
        </div>
        <input class="send-form-btn" type="submit" value="ОТПРАВИТЬ">
    </form>
    <div class="pop-up-close-btn"></div>
</div>

<div class="pop-up-thnx">
    <p class="form-block-title form-block-title-pop-up">Cпасибо!</p>
    <p>Ваша заявка отправлена. В течение 1 часа <br> Вам перезвонит наш менеджер</p>
    <div class="pop-up-close-btn"></div>
</div>
