<section class="inStock">
    <div class="container remove-padding">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-wrp">
                    <ul class="breadcrumb-custom">
                      <li class="breadcrumb-custom-item"><a class="breadcrumb-home" href="#">
                          <div class="home-logo-img"></div>
                      </a></li>
                      <li class="breadcrumb-custom-item"><a href="#">Машины в наличии</a></li>
                      <li class="breadcrumb-custom-item active" aria-current="page"><span>Ford Focus</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="filter-block-wrp filter-block-wrp-inStock">
        <div class="container">
            <div class="filter-block filter-block-inStock">
                <div class="row">
                    <div class="col-xl-4 col-lg-6">
                        <div class="filter-block-item">
                            <p class="filter-title">Марка и модель</p>
                            <select class="select-multiple dropdownCssClass" name="cars[]" multiple="multiple">
                              <option value="AL">Alabama</option>
                              <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="filter-block-item">
                            <p class="filter-title">Год выпуска, от</p>
                            <select class="select-simple" name="cars[]" placeholder="Выберите год">
                              <option value="1">1980</option>
                              <option value="2">1970</option>
                            </select>
                        </div>
                        <div class="filter-block-item">
                            <p class="filter-title">Привод</p>
                            <select class="select-simple" name="cars[]" placeholder="Выберите тип привода">
                              <option value="1">Передний</option>
                              <option value="2">Задний</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="filter-block-item">
                            <p class="filter-title">Цена, руб</p>
                            <div class="polzunok-wrp">
                                <p class="polzunok-value">до <span id="result-polzunok-price"></span> <span>руб</span></p>
                                <div id="polzunok-price" class="polzunok"></div>
                            </div>
                        </div>
                        <div class="filter-block-item">
                            <p class="filter-title">Коробка передач</p>
                            <select class="select-simple" name="cars[]" placeholder="Выберите тип КП">
                              <option value="1">Механическая</option>
                              <option value="2">Автоматическая</option>
                            </select>
                        </div>
                        <div class="filter-block-item">
                            <p class="filter-title">Мощность, л.с.</p>
                            <div class="polzunok-wrp">
                                <p class="polzunok-value">до <span id="result-polzunok-power"></span> <span>л.с.</span></p>
                                <div id="polzunok-power" class="polzunok"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 offset-xl-0 col-lg-6 offset-lg-3">
                        <div class="filter-block-item">
                            <p class="filter-title">Кузов</p>
                            <select class="select-simple" name="cars[]" placeholder="Выберите тип кузова">
                              <option value="1">Седан</option>
                              <option value="2">Хэтчбек</option>
                            </select>
                        </div>
                        <div class="filter-block-item">
                            <p class="filter-title">Двигатель</p>
                            <select class="select-simple" name="cars[]" placeholder="Выберите тип двигателя">
                              <option value="1">бензиновые</option>
                              <option value="2">дизельные</option>
                            </select>
                        </div>
                        <div class="choose-auto-btn"><span>ПОДОБРАТЬ АВТОМОБИЛЬ</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12 align-h2">
                <h2>15 объявлений</h2>
            </div>
            <div class="col-lg-3 col-12">
                <div class="select-inStock-wrp">
                    <select class="select-inStock" name="cars[]">
                      <option value="1">По умолчанию</option>
                      <option value="2">Задний</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="inStock-cards-wrp">
            <div class="row">
                <div class="col-12">
                    <div class="inStock-card">
                        <div class="row">
                            <div class="col-lg-4 col-12">
                                <div class="propose-card-img-wrp inStock-card-img-wrp">
                                    <div class="change-img-trigger change-img-trigger-1 active"></div>
                                    <img class="change-img" src="../../build/img/car1.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-2"></div>
                                    <img class="change-img" src="../../build/img/car2.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-3"></div>
                                    <img class="change-img" src="../../build/img/car3.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-4"></div>
                                    <img class="change-img" src="../../build/img/car4.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-8 col-12">
                                <div class="inStock-card-content inStock-card-content-inner-padding-left">
                                    <div class="row">
                                        <div class="col-md-6 col-12 col-inner">
                                            <div class="inStock-card-content-inner">
                                                <p class="title-price">Ford Focus  /  <span>235 000 руб</span></p>
                                                <div class="inner-wrp">
                                                    <p class="point-info">Год выпуска: <span>2006</span></p>
                                                    <p class="point-info">Пробег: <span>153 000 км</span></p>
                                                </div>
                                                <div class="inner-wrp">
                                                    <p class="point-info">КПП: <span>Механическая</span></p>
                                                    <p class="point-info">Поколение: <span>I [2002 - 2009]</span></p>
                                                    <p class="point-info">Объем/мощность: <span>1.5 л. / 86 л.с.</span></p>
                                                    <p class="point-info">Топливо: <span>Бензин</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 col-inner">
                                            <div class="inStock-card-content-inner inStock-card-content-inner-aligned">
                                                <p class="message-warranty">Официальная гарантия Ford</p>
                                                <div class="inner-wrp">
                                                    <p class="message-credit-available">Доступен в кредит <br>от <span>29 717 р.</span> без взноса</p>
                                                    <div class="inStock-card-btn"><span>заявка в кредит</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="inStock-card">
                        <div class="row">
                            <div class="col-lg-4 col-12">
                                <div class="propose-card-img-wrp inStock-card-img-wrp">
                                    <div class="change-img-trigger change-img-trigger-1 active"></div>
                                    <img class="change-img" src="../../build/img/car1.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-2"></div>
                                    <img class="change-img" src="../../build/img/car2.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-3"></div>
                                    <img class="change-img" src="../../build/img/car3.jpg" alt="">
                                    <div class="change-img-trigger change-img-trigger-4"></div>
                                    <img class="change-img" src="../../build/img/car4.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-8 col-12">
                                <div class="inStock-card-content inStock-card-content-inner-padding-left">
                                    <div class="row">
                                        <div class="col-md-6 col-12 col-inner">
                                            <div class="inStock-card-content-inner">
                                                <p class="title-price">Ford Focus  /  <span>235 000 руб</span></p>
                                                <div class="inner-wrp">
                                                    <p class="point-info">Год выпуска: <span>2006</span></p>
                                                    <p class="point-info">Пробег: <span>153 000 км</span></p>
                                                </div>
                                                <div class="inner-wrp">
                                                    <p class="point-info">КПП: <span>Механическая</span></p>
                                                    <p class="point-info">Поколение: <span>I [2002 - 2009]</span></p>
                                                    <p class="point-info">Объем/мощность: <span>1.5 л. / 86 л.с.</span></p>
                                                    <p class="point-info">Топливо: <span>Бензин</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 col-inner">
                                            <div class="inStock-card-content-inner inStock-card-content-inner-aligned">
                                                <p class="message-warranty">Официальная гарантия Ford</p>
                                                <div class="inner-wrp">
                                                    <p class="message-credit-available">Доступен в кредит <br>от <span>29 717 р.</span> без взноса</p>
                                                    <div class="inStock-card-btn"><span>заявка в кредит</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
