h1 {
    font-size: 60px;
    line-height: 64px;
    font-family: 'MuseoSansCyrl-900';
    color: $textDark;
    padding-top: 62px;
    margin-bottom: 36px;
}
h2 {
    font-size: 34px;
    line-height: 40px;
    font-family: 'MuseoSansCyrl-900';
    color: $textDark;
    margin-bottom: 19px;
    position: relative;
    z-index: 2;
}
.container.remove-padding {
    padding-right: 0;
    .row {
        margin-right: 0;
        .col-12 {
            padding-right: 0;
        }
    }
}
.breadcrumbs-wrp {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 8px;
}
.breadcrumb-custom {
    margin-top: 30px;
    padding: 0;
    background-color: #ffffff;
    display: inline-flex;
    &::after {
        content: '';
        min-width: 15px;
        height: 50px;
        display: block;
    }
    li {
        a  {
            display: inline-block;
            padding: 12px 0;
            vertical-align: top;
            color: $textDark;
            font-size: 14px;
        }
        span {
            vertical-align: middle;
        }
    }
    .home-logo-img {
        width: 27px;
    }
}
.breadcrumb-custom-item {
    flex-shrink: 0;
    position: relative;
    padding-right: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    & + .breadcrumb-custom-item {
        padding-left: 28px;
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            padding: 0;
            background-color: $border;
            content: "";
            width: 1px;
            height: 100%;
        }
    }
    &.active {
        background-color: #f7f9fa;
        border-right: 1px solid $border;
        border-radius: 0 2px 2px 0;
        span {
            color: $textLight;
            font-family: 'MuseoSansCyrl-300';
        }
    }
    &:first-child {
        padding: 0 14px;
        border-left: 1px solid $border;
        border-radius: 2px 0 0 2px;
    }
}
%BTN {
    width: 220px;
    background-color: $buttonRed;
    height: 55px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    transform: translateY(0);
    span {
        font-size: 12px;
        font-family: 'MuseoSansCyrl-900';
        color: #ffffff;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
    &:hover {
        background-color: $buttonRedHover;
    }
    &:active {
        transform: translateY(2px);
    }
}
%chooseAuto {
    width: 284px;
    background-color: $buttonRed;
    height: 55px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    transform: translateY(0);
    span {
        font-size: 12px;
        font-family: 'MuseoSansCyrl-900';
        color: #ffffff;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        position: relative;
        padding-right: 22px;
        &::after {
            content: '\f054';
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -11px;
            right: 0px;
            transition: all 0.2s ease-out;
            font-family: Font Awesome\ 5 Free;
            font-weight: 900;
            font-size: 17px;
        }
    }
    &:hover {
        background-color: $buttonRedHover;
        span {
            &::after {
                right: -2px;
            }
        }
    }
    &:active {
        span {
            &::after {
                right: -4px;
            }
        }
    }
}
%borderBtnArrow {
    width: 263px;
    height: 55px;
    border-style: solid;
    border-width: 2px;
    border-color: $buttonRed;
    border-radius: 2px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    transform: translateY(0);
    span {
        font-size: 12px;
        font-family: 'MuseoSansCyrl-900';
        color: $buttonRed;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        position: relative;
        padding-right: 22px;
        transition: all .3s ease;
        &::after {
            content: '\f054';
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -11px;
            right: 0px;
            font-family: Font Awesome\ 5 Free;
            font-weight: 900;
            font-size: 17px;
        }
    }
    &:hover {
        background-color: $buttonRed;
        span {
            color: #ffffff;
        }
    }
    &:active {
        transform: translateY(-2px);
    }
}
%borderBtn {
    width: 263px;
    height: 55px;
    border-style: solid;
    border-width: 2px;
    border-color: $buttonRed;
    border-radius: 2px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    transform: translateY(0);
    span {
        font-size: 12px;
        font-family: 'MuseoSansCyrl-900';
        color: $buttonRed;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        position: relative;
        transition: all .3s ease;
    }
    &:hover {
        background-color: $buttonRed;
        span {
            color: #ffffff;
        }
    }
    &:active {
        transform: translateY(-2px);
    }
}

%input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-radius: 2px;
    background-color: rgb(247, 249, 250);
    width: 100%;
    height: 57px;
    color: $textDark;
    padding: 0 20px;
    &:focus {
        border-color: #99abb2;
    }
}
// Спецпредложения
.propose-card {
    width: 350px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 60px;

    .propose-card-info {
        position: relative;
        height: 223px;
        padding-top: 26px;
        padding-left: 30px;
        background-color: rgb(255, 255, 255);
        .propose-card-title {
            font-size: 20px;
            font-family: 'MuseoSansCyrl-900';
            color: $textDark;
            min-height: 40px;
            padding-right: 20px;
        }
        .icons-wrp {
            margin-top: 18px;
            height: 52px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .icons {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p {
                    font-size: 14px;
                    font-family: 'MuseoSansCyrl-500';
                    color: $textDark;
                    span {
                        vertical-align: middle;
                    }
                }
                .icon-propose-img {
                    max-width: 22px;
                    max-height: 22px;
                    margin-right: 9px;
                    display: inline-block;
                }
            }
        }
    }
    .bottom-part {
        position: absolute;
        padding-left: 30px;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .propose-card-price {
            font-size: 20px;
            font-family: 'MuseoSansCyrl-900';
            color: $textDark;
        }
        .propose-card-btn {
            @extend %BTN;
            width: 190px;
        }
    }
}
.propose-card-img-wrp {
    position: relative;
    min-height: 250px;
    width: 100%;
    .change-img-trigger {
        position: absolute;
        top: 0;
        width: 25%;
        height: 100%;
        z-index: 2;
        border-bottom: 5px solid transparent;
        transition: all .25s ease;
        cursor: pointer;
        &.active {
            border-color: #ec1d24;
            & + .change-img {
                display: block;
            }
        }
        &.change-img-trigger-1 {
            left: 0;
        }
        &.change-img-trigger-2 {
            left: 25%;
        }
        &.change-img-trigger-3 {
            left: 50%;
        }
        &.change-img-trigger-4 {
            left: 75%;
        }
    }
    .change-img {
        width: 100%;
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        -webkit-transition: all .5s;
        transition: all .5s;
        max-height: 250px;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        &.active {
            display: block;
        }
    }
}
.arrivals-card {
    width: 255px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 60px;
    .arrivals-card-img-wrp {
        position: relative;
        min-height: 182px;
        width: 100%;
        .arrivals-img {
            width: 100%;
            max-height: 182px;
            object-fit: cover;
            object-position: center;
            z-index: 1;
        }
    }
    .arrivals-card-info {
        position: relative;
        height: 255px;
        padding-top: 20px;
        padding-left: 30px;
        background-color: rgb(255, 255, 255);
        .arrivals-card-title {
            font-size: 20px;
            font-family: 'MuseoSansCyrl-900';
            color: $textDark;
            margin-bottom: 18px;
            line-height: 1;
            min-height: 40px;
            padding-right: 20px;
        }
    }
    .arrivals-data {
        font-size: 14px;
        font-family: 'MuseoSansCyrl-500';
        color: $textLight;
        padding-bottom: 17px;
        span {
            color: $textDark;
        }
        p + p {
            margin-top: 4px;
        }
    }
    .arrivals-card-price {
        font-size: 20px;
        font-family: 'MuseoSansCyrl-900';
        color: $textDark;
        margin-bottom: 18px;
    }
    .arrivals-card-btn {
        @extend %BTN;
        width: 194px;
    }
}

.slider-arrows-wrp {
    position: absolute;
    right: 14px;
    top: calc(50% - 30px);
    display: flex;
    width: 90px;
    height: 40px;
    justify-content: space-between;
    .arrow-slider {
        position: relative;
        border-radius: 2px;
        background-color: rgb(120, 188, 196);
        box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.12);
        width: 40px;
        height: 40px;
        transform: translateX(0);
        transition: all 0.3s ease-out;
        cursor: pointer;
        &:before {
            content: '\f053';
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            right: calc(50% - 5px);
            transition: all 0.2s ease-out;
            font-family: Font Awesome\ 5 Free;
            font-weight: 900;
            font-size: 17px;
            color: #ffffff;
        }
        &:hover {
            background-color: #559ba3;
        }
        &:active {
            transform: translateX(-2px);
        }
        &.arrow-next {
            &:active {
                transform: translateX(2px);
            }
            &:before  {
                content: '\f054';
                left: calc(50% - 5px);
            }
        }
    }
}
.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}

.align-h2 {
    display: flex;
    align-items: center;
    h2 {
        line-height: 1;
        margin-bottom: 0;
    }
}
// pagination
.page-link {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 0;
    border-radius: 2px;
    color: $cyanCircle;
    &:hover {
        background-color: #f4f6f7;
        color: $cyanCircle;
    }
    &:focus {
        box-shadow: none;
    }
}
.page-item {
    &:first-child, &:last-child {
        .page-link {
            border: 1px solid $border;
            border-radius: 2px;
            background-color: #f4f6f7;
            span {
                color: $textLight;
            }
        }
        &:hover {
            .page-link {
                background-color: $cyanCircle;
                border-color: $cyanCircle;
                span {
                    color: #ffffff;
                }
            }
        }
    }
    &.active {
        .page-link {
            background-color: $cyanCircle;
            border-color: $cyanCircle;
            span {
                color: #ffffff;
            }
        }
    }
}
.container.container-remove-padding-both {
    padding-right: 0;
    padding-left: 0;
}
