@import "reset";
@import "fonts";
@import "variables";
@import "custom";
@import "header/header";
// @import "accordion/accordion";
@import "footer/footer";
@import "main/main";
@import "popUp/popUp";
@import "cardProduct/cardProduct";
@import "buyout/buyout";
@import "inStock/inStock";
@import "credit/credit";
@import "contacts/contacts";
@import "mCustomScrollBox";


body {
    position: relative;
    font-family: 'MuseoSansCyrl-500';
    font-size: 14px;
    width: 100%;
    height: 100%;
    color: #7a7b7d;
    background-color: #ffffff;
    &.compensate-for-scrollbar {
        padding-right: 17px;
        overflow: hidden;
    }
    &.overflow-hidden {
        overflow: hidden;
    }
}

.app {
    position: relative;
    padding-top: 141px;
    padding-bottom: 367px;
    min-height: 100vh;
    .pages-wrapper, .header-wrapper, .menu-wrapper {
        position: relative;
        width: 100%;
    }
    .header-wrapper {
        z-index: 3;
    }
    .pages-wrapper {
        z-index: 2;
    }
}
.footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@import "media/media";
