<header>
    <nav class="navbar navbar-expand-lg links-line-nav-wrp">
        <div class="container">
            <div class="collapse navbar-collapse links-line-nav" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Машины в наличии<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Кредит</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Выкуп</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="#">Trade-in</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="#">Контакты</a>
                </li>
              </ul>
              <div class="callback-btn callback-btn-header-collapse"><span>Обратный звонок</span></div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg main-line-nav">
     <div class="container">
          <a class="navbar-brand logo-header" href="#"><span>Авто</span>салон</a>
          <div class="header-data header-data-phone header-data-phone-desctop">
              <p class="main-header-data">+7 495 123 45 67</p>
          </div>
          <a href="tel:+74951234567" class="header-data header-data-phone header-data-phone-mob">
          </a>
          <div class="header-data header-data-time">
              <p class="main-header-data">с 9:00 до 20:00</p>
              <p class="secondary-header-data">ежедневно</p>
          </div>
          <div class="header-data header-data-place">
              <p class="main-header-data">Братиславская</p>
              <p class="secondary-header-data">ул. Поречная 12, стр.1, 4 этаж</p>
          </div>
          <div class="callback-btn callback-btn-header"><span>Обратный звонок</span></div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span></span>
         </button>
     </div>
    </nav>
</header>
