<section class="contacts">
    <div class="container remove-padding">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-wrp">
                    <ul class="breadcrumb-custom">
                      <li class="breadcrumb-custom-item"><a class="breadcrumb-home" href="#">
                          <div class="home-logo-img"></div>
                      </a></li>
                      <li class="breadcrumb-custom-item active" aria-current="page"><span>Контакты</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Контакты</h2>
            </div>
        </div>
        <div class="map-section">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="contacts-tab-substrate">
                        <table class="contacts-detail-table">
                            <tbody><tr class="contacts-detail-item">
                              <td class="contacts-detail-text">Телефон</td>
                              <td class="contacts-detail-text">
                                  <span class="d-none d-lg-block">+7 495 123 45 67</span>
                                  <a href="tel:+74951234567" class="d-lg-none">+7 495 123 45 67</a>
                              </td>
                            </tr>
                            <tr class="contacts-detail-item">
                              <td class="contacts-detail-text">Город</td>
                              <td class="contacts-detail-text">Москва</td>
                            </tr>
                            <tr class="contacts-detail-item">
                              <td class="contacts-detail-text">Адрес</td>
                              <td class="contacts-detail-text">ул. Поречная 12, стр.1, 4 этаж</td>
                            </tr>
                            <tr class="contacts-detail-item">
                              <td class="contacts-detail-text">Метро</td>
                              <td class="contacts-detail-text">Братиславская</td>
                            </tr>
                            <tr class="contacts-detail-item">
                              <td class="contacts-detail-text">График работы</td>
                              <td class="contacts-detail-text">с 09:00 до 20:00, ежедневно</td>
                            </tr>
                          </tbody></table>
                          <div class="callback-btn card-callback-btn"><span>Обратный звонок</span></div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="banks-section">
            <div class="row">
                <div class="col-8">
                    <h2>Банки партнеры</h2>
                </div>
                <div class="col-4">
                    <div class="slider-arrows-wrp">
                        <div id="banks-arrow-prev" class="arrow-slider arrow-prev"></div>
                        <div id="banks-arrow-next" class="arrow-slider arrow-next"></div>
                    </div>
                </div>
            </div>
            <div class="banks-slider-wrp">
                <div class="banks-slider">
                    <div>
                        <img src="../../build/img/bank2.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank17.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank4.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank8.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank5.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank6.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank3.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank7.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank10.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank9.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank15.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank11.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank12.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank13.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank14.jpg" alt="банк">
                    </div>

                    <div>
                        <img src="../../build/img/bank16.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank1.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank18.jpg" alt="банк">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
