<section class="credit">
    <div class="container remove-padding">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-wrp">
                    <ul class="breadcrumb-custom">
                      <li class="breadcrumb-custom-item"><a href="#"><img class="home-logo-img" src="../../build/img/home.svg" alt="logo"></a></li>
                      <li class="breadcrumb-custom-item"><a href="#">Машины в наличии</a></li>
                      <li class="breadcrumb-custom-item active" aria-current="page"><span>Ford Focus</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2-credit">Автокредит на Ford Focus 2016 </h2>
                <p class="credit-propose-title">Заполни заявку и получи решение о выдаче кредита в течение 1 часа</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="credit-card-block">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="propose-card-img-wrp inStock-card-img-wrp">
                                <div class="change-img-trigger change-img-trigger-1 active"></div>
                                <img class="change-img" src="../../build/img/car1.jpg" alt="">
                                <div class="change-img-trigger change-img-trigger-2"></div>
                                <img class="change-img" src="../../build/img/car2.jpg" alt="">
                                <div class="change-img-trigger change-img-trigger-3"></div>
                                <img class="change-img" src="../../build/img/car3.jpg" alt="">
                                <div class="change-img-trigger change-img-trigger-4"></div>
                                <img class="change-img" src="../../build/img/car4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="credit-card-content">
                                <p class="title-price">Ford Focus  /  <span>235 000 руб</span></p>
                                <div class="inner-wrp">
                                    <p class="point-info">Год выпуска: <span>2006</span></p>
                                    <p class="point-info">Пробег: <span>153 000 км</span></p>
                                </div>
                                <div class="inner-wrp">
                                    <p class="point-info">КПП: <span>Механическая</span></p>
                                    <p class="point-info">Поколение: <span>I [2002 - 2009]</span></p>
                                    <p class="point-info">Объем/мощность: <span>1.5 л. / 86 л.с.</span></p>
                                    <p class="point-info">Топливо: <span>Бензин</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="decor-profit-list-block decor-profit-list-block-desctop d-none d-lg-block">
                    <ul class="decor-profit-list">
                        <li><span>Автоматизированная система проверки анкеты</span></li>
                        <li><span>Досрочное погашение кредита без штрафа</span></li>
                        <li><span>Первоначальный взнос от 0 рублей</span></li>
                        <li><span>Процент по кредиту 4,5% годовых</span></li>
                        <li><span>Срок кредитования от 6 месяцев до 7 лет</span></li>
                        <li><span>Сумма кредитования до 3 500 000 рублей</span></li>
                        <li><span>Возможность сдать свой автомобиль по системе <br> <a href="#">Trade-in</a> в качестве первоначального взноса</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="credit-form">
                    <p class="credit-form-title">Заявка на автокредит</p>
                    <div class="subtitle-input-wrp">
                        <p class="credit-form-subtitle">Дата рождения</p>
                        <input type="text" class="credit-form-input">
                    </div>
                    <div class="subtitle-input-wrp">
                        <p class="credit-form-subtitle">Первоначальный взнос, руб</p>
                        <input type="text" class="credit-form-input">
                    </div>
                    <div class="subtitle-input-wrp">
                        <p class="credit-form-subtitle">Прописка</p>
                        <div class="select-inStock-wrp">
                            <select class="select-simple" name="cars[]" placeholder="Выберите город из списка">
                              <option value="1">Москва</option>
                              <option value="2">Орел</option>
                            </select>
                        </div>
                    </div>
                    <div class="subtitle-input-wrp">
                        <p class="credit-form-subtitle">ФИО</p>
                        <input type="text" class="credit-form-input">
                    </div>
                    <div class="subtitle-input-wrp">
                        <p class="credit-form-subtitle">Телефон</p>
                        <input type="text" class="credit-form-input">
                    </div>
                    <div class="subtitle-input-wrp">
                        <p class="credit-form-subtitle">Ваш комментарий</p>
                        <textarea class="credit-form-textarea" name="name"></textarea>
                    </div>
                    <div class="credit-form-btn">
                        <span>ОТПРАВИТЬ</span>
                    </div>
                </div>
                <p class="additional-discount-message">Дополнительная скидка при обмене вашего автомобиля по программе <a href="#">Trade-in</a></p>
            </div>
        </div>

    </div>
    <div class="container container-remove-padding-both">
        <div class="decor-profit-list-block decor-profit-list-block-mobile d-lg-none">
            <ul class="decor-profit-list">
                <li><span>Автоматизированная система проверки анкеты</span></li>
                <li><span>Досрочное погашение кредита без штрафа</span></li>
                <li><span>Первоначальный взнос от&nbsp;0&nbsp;рублей</span></li>
                <li><span>Процент по кредиту 4,5% годовых</span></li>
                <li><span>Срок кредитования от&nbsp;6&nbsp;месяцев до&nbsp;7&nbsp;лет</span></li>
                <li><span>Сумма кредитования до 3 500 000 рублей</span></li>
                <li><span>Возможность сдать свой автомобиль по системе <a href="#">Trade-in</a> в&nbsp;качестве первоначального взноса</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="banks-section">
            <div class="row">
                <div class="col-8">
                    <h2>Банки партнеры</h2>
                </div>
                <div class="col-4">
                    <div class="slider-arrows-wrp">
                        <div id="banks-arrow-prev" class="arrow-slider arrow-prev"></div>
                        <div id="banks-arrow-next" class="arrow-slider arrow-next"></div>
                    </div>
                </div>
            </div>
            <div class="banks-slider-wrp">
                <div class="banks-slider">
                    <div>
                        <img src="../../build/img/bank1.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank2.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank3.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank4.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank5.jpg" alt="банк">
                    </div>
                    <div>
                        <img src="../../build/img/bank1.jpg" alt="банк">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
